body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.b-user-list {
  width: 600px;
  margin: 16px auto;
  border: 1px solid #ccc;
  padding: 16px;
}

.b-user-list ul {
  padding: 0;
}
.b-user-list li {
  list-style: none;
}

.b-post {
  width: 600px;
  padding: 16px;
  margin: 16px auto;
  border: 1px solid #ccc;
}

.result {
  padding: 16px;
  width: 250px;
  height: 34px;
  border: 1px solid #ccc;
  margin: 16px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 16px;
}
.b-count {
  margin: 24px auto;
  padding: 16px;
  border: 1px solid #ccc;
  width: 600px;
}
#next, #prev{
  background-image: url("./img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 24px;
  width: 36px;
  height: 36px;
  display: block;
  border:1px solid #ccc;
  border-radius: 2px;
}
#next{
  transform: rotate(180deg);
}
.b-post-content{
  width: 70%;
}
.b-post-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-btn{
  margin-left: 24px;
}
